<template>
  <div class="col-md-8 col-md-offset-2">
		<div class="jumbotron">
			<h2>Lumen and Vue.js Single Page Application</h2>
	        <h4>Simple Guestbook</h4>
		</div>

		<form>
			<div class="form-group">
				<input type="text" class="form-control input-sm" name="author" v-model="txtComment.author" placeholder="Name">
			</div>
			<div class="form-group">
				<input type="text" class="form-control input-sm" name="text" v-model="txtComment.text" placeholder="Put here your text">
			</div>
			<div class="form-group text-right">   
	            <button type="submit" class="btn btn-primary btn-lg" v-on:click="onCreate">Submit</button>
	        </div>
		</form>

		<div class="comment" v-for="comment in comments">
			<h3>Comment #{{ comment.id }} <small>by {{ comment.author }}</h3>
			<p>{{ comment.text }}</p>
			<p>
				<span class="btn btn-primary text-muted" v-on:click="onDelete(comment)">Delete</span>
			</p>
		</div>

	</div>
</template>

<script>
import auth from '../auth'
export default {
	data() {
	    return {
	      	comments: [],
		    text: '',
		    author: ''
	    }
	},
  	ready: function() {
        this.getMessages();
   	},
	methods: {
		getMessages: function() {
            this.$http
	        .get('http://localhost:8000/api/comments', (data) => {
	          this.comments = data;
	        }, { 
	          headers: auth.getAuthHeader()
	        })
	        .error((err) => console.log(err))
        },
	    onCreate: function(e) {
        	e.preventDefault()
        	this.$http.post('http://localhost:8000/api/comments', this.txtComment).success(function(response) {
        		console.log(response);
			  	this.comments.push(this.txtComment);
			  	this.txtComment = ''
                //this.txtComment.text = ''
			  	console.log("Event added!");
			}).error(function(error) {
			  console.log(error);
			});
            /*$.ajax({
                context: this,
                type: "POST",
                data: {
                    author: this.author,
                    text: this.text
                },
                url: "/api/comment",
                success: function(result) {
                    this.comments.push(result);
                    this.author = ''
                    this.text = ''
                }
            })  */                      
        },
	},
	route: {
	    canActivate() {
	      return auth.user.authenticated
	    }
	}
}
</script>