<template>
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Get a Free Chuck Norris Quote!</h1>
      <button class="btn btn-primary" v-on:click="getQuote()">Get a Quote</button>
      <div class="quote-area" v-for="comment in comments">
        <h2><blockquote>{{ comment.text }}</blockquote></h2>      
      </div>
    </div>
  </template>

  <script>
  export default {
    data() {
      return {
        comments: ''
      }
    },
    methods: {
      getQuote() {
        this.$http
          .get('http://localhost:8000/comments', (data) => {
            this.comments = data;
          })
          .error((err) => console.log(err))
      }
    }
  }
  </script>
